@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightBlue: hsl(0, 0%, 98%);
  --fontFamily: "Poppins", sans-serif;
  --fontSize: 1rem;
  --p1: 200;
  --p2: 400;
  --p3: 600;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 144rem;
  height: 92.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--veryLightBlue);
  font-family: var(--fontFamily);
}

#title {
  width: 54rem;
  height: 16.8rem;
  margin-bottom: 6.4rem;
  text-align: center;
}

#title h1,
h2 {
  font-size: 3.6rem;
  letter-spacing: 0.2;
  line-height: 1.3;
  color: var(--veryDarkBlue);
}

#title h1 {
  font-weight: var(--p1);
}

#title h2 {
  font-weight: var(--p3);
  margin-bottom: 1.3rem;
}

#title p {
  font-size: 1.5rem;
  font-weight: var(--p2);
  line-height: 1.5;
  letter-spacing: 0.1;
  opacity: 0.5;
}

#cards-container {
  width: 111rem;
  height: 53rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  grid-template-areas:
    ". card-builder ."
    "card-supervisor card-builder card-calculator"
    "card-supervisor card-karma card-calculator"
    ". card-karma .";
}

.card-builder {
  width: 35rem;
  height: 25rem;
  background-color: blue;
  grid-area: card-builder;
}

.card-supervisor {
  width: 35rem;
  height: 25rem;

  background-color: yellowgreen;
  grid-area: card-supervisor;
}

.card-calculator {
  width: 35rem;
  height: 25rem;

  background-color: rgb(100, 134, 113);
  grid-area: card-calculator;
}

.card-karma {
  width: 35rem;
  height: 25rem;

  background-color: tomato;
  grid-area: card-karma;
}
